{
  "topic": "${MAP_ARG:DEVICE_ID}/cmd/customMsg/json",
  ${MAP_TEMPLATE:static_replacements/color/pallete_blue_pink_gradient}
  "brightness": ${MAP_ARG_IF_NULL:BRIGHTNESS?128},
  "scrollData": 0,
  "dataString": [
    ${MAP:static_replacements_chars/0}, MAP_TEMPLATE:H, MAP_TEMPLATE:I, MAP_TEMPLATE:NULL
  ],
  "time": 30,
  ${MAP_TEMPLATE:static_replacements/blink/uniform_blink}
}